@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/Content/css/agency.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
    <!-- Header -->
    <div>
        <nav>
            <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(../../Images/img/arkaplan.jpg)">
                <div class="container">
                    <div class="intro-text">
                        <div class="intro-lead-in" style="color: orangered">Hayaleriniz suya düşmesin<br />Denize düşsün</div>
                        <div class="intro-heading" style="color:orangered">Uluman Denizcilik</div>
                        <div class="btn btn-xl" style="background-color: white;">
                            @Html.ActionLink("İletişime Geçin", "Contact", "Home")
                        </div>
                    </div>
                </div>
            </header>
        </nav>
    </div>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Referanslarımız</h2><br />
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Images/img/team/jacksparrow.png" class="img-responsive img-circle" alt="">
                        <h4>Jack Sparov</h4>
                        <p class="text-muted">Girişimci Denizci</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Images/img/team/temel.jpg" class="img-responsive img-circle" alt="">
                        <h4>Temel Reis</h4>
                        <p class="text-muted">Vejeteryan Denizci</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Images/img/team/viking.jpg" class="img-responsive img-circle" alt="">
                        <h4>Vikingler</h4>
                        <p class="text-muted">Omega3 Bağımlıları</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Eğer sizinde hayallerinizde bir tekne ile uçsuz bucaksız denizlere açılmak varsa ve bu hayallerinizi nasılgerçekleştireceğini bilmiyorsanız bizimle iletişime geçin.<br />Hayallerinizi mavilikler üstünde inşâ edelim </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d772431.0761515487!2d29.28996011670654!3d40.8650949530226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb20946fcacc43%3A0xa82cb38deb56d859!2sKocaeli!5e0!3m2!1str!2str!4v1551360950906" width="1140" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

</body>













