@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/Content/css/agency.min.css" rel="stylesheet">
</head>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hizmetlerimiz</h2>
                    @*<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>*@
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">İmalat</h4>
                    <p class="text-muted">Sizin istekleriniz doğrultusunda yeni tasarımlar geliştirebilir veya hazır modellerimizden birini hemen sizin için üretebiliriz <br />Rüyanızda ki tekne ve yatı üretebilecek kapasiteye sahibiz.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Hazır Modeller</h4>
                    <p class="text-muted">Ürünlerimiz kategorisindeki tüm ürünleri sipariş verebilirsiniz<br />İletişime geçmeniz yeterli</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gezi Rehberi</h4>
                    <p class="text-muted">Deniz tutkunlarının uğrak mekanları ve gezi turları için bizimle iletişime geçin.</p>
                </div>
            </div>
        </div>
    </div>


